@import '../../../styles/config';

.#{$namespace}-session-row {
	display: flex;
	padding: 13px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	background-color: rgb(var(--module-color));
	width: 100%;
	border: 4px solid transparent;
	margin-bottom: 10px;

	h4 {
		color: rgb(var(--text-color));
		font-size: 1rem;
		font-weight: 500;
		text-align: left;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;

		span {
			display: table;
			margin-top: 3px;
			font-size: 0.85rem !important;
			opacity: 0.7;
			color: rgb(var(--text-color)) !important;
		}
	}

	&--selected {
		border: 4px solid rgb(var(--primary-color)) !important;
	}

	&--multi-selected {
		border: 4px dashed rgb(var(--error-color)) !important;
		opacity: 0.85;
	}
}