@import '../../../../styles/config';

.#{$namespace}-import-data {
	display: flex;
	flex-direction: column;
	gap: 24px;

	hr {
		width: 100%;
		border: none;
		height: 1px;
		padding: 0;
		margin: 0;
		background-color: rgba(var(--text-color), 0.08);
	}
}
