@import '../../../styles/config';

.#{$namespace}-solves-text {
	&__text {
		margin-top: 10px;
		border-radius: 10px;
		color: #fff;
		background-color: #1c1c1e;
		padding: 15px;
		box-sizing: border-box;
		font-size: 1rem;
		font-family: 'SF Mono', 'Roboto Mono', 'Fira Code', monospace;
		margin-bottom: 15px;
		overflow-x: auto;
		max-height: 600px;
		white-space: pre;

		&--wrapText {
			white-space: pre-wrap !important;
		}
	}

	&__options {
		display: flex;
		flex-direction: column;

		> * {
			width: 50%;
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;

		> * {
			margin-right: 15px;
		}

		button {
			background-color: #1c1c1e !important;
			border-radius: 10px !important;
			height: 44px !important;
			color: #4a9eff !important;
			font-weight: 600 !important;
			border: none !important;

			svg {
				color: #4a9eff !important;
			}
		}
	}
}
