@import '../../../styles/config';

.#{$namespace} {
	&-body {
		background-color: rgb(var(--background-color));
		min-height: 100vh;
		box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: column;

		&__content {
			width: 100%;
			position: relative;
			flex: 1;
		}

		// Full mode and mobile mode - no changes needed for header layout

		&:not(&--noPadding)>&__content {
			padding: calc(var(--wrapper-padding) + var(--safe-area-inset-top)) calc(var(--wrapper-padding) + var(--safe-area-inset-right)) calc(var(--wrapper-padding) + var(--safe-area-inset-bottom)) calc(var(--wrapper-padding) + var(--safe-area-inset-left));
			box-sizing: border-box;

			@media (max-width: 768px) {
				padding: calc(var(--wrapper-padding-mobile) + var(--safe-area-inset-top)) calc(var(--wrapper-padding-mobile) + var(--safe-area-inset-right)) calc(var(--wrapper-padding-mobile) + var(--safe-area-inset-bottom)) calc(var(--wrapper-padding-mobile) + var(--safe-area-inset-left));
			}
		}
	}
}