@import '../../styles/config';

.#{$namespace}-play {
	display: table;
	width: 100%;

	&__list {
		width: 100%;
		max-width: 60rem;
		margin: 0 auto 6.667rem;
		display: grid;
		grid-gap: 1.667rem;
	}
}
