@import '../../../../styles/config';

.#{$namespace}-avatar-image {
	$aviSize: 50px;
	$aviSizeTiny: 24px;
	$aviSizeSmall: 30px;
	$aviSizeLarge: 150px;

	position: relative;

	&__body {
		position: relative;
		background-color: rgba(var(--text-color), 0.2);
		width: $aviSize;
		height: $aviSize;
		border-radius: 50%;
		overflow: hidden;
		z-index: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--tiny {
			width: $aviSizeTiny !important;
			height: $aviSizeTiny !important;
		}

		&--small {
			width: $aviSizeSmall !important;
			height: $aviSizeSmall !important;
		}

		&--large {
			width: $aviSizeLarge !important;
			height: $aviSizeLarge !important;
		}
	}

	&--pro {
		padding: 3px;
		border-radius: 50%;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 50%;
			background: conic-gradient(from 0deg, #246bfd, #a855f7, #66bb6a, #246bfd);
			animation: pro-ring-spin 8s linear infinite;
		}
	}
}

@keyframes pro-ring-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
