.cd-offline {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #d32f2f;
	color: #ffffff;
	padding: 15px;
	border-radius: 5px;
	width: 95%;
	max-width: 300px;
	z-index: 100000000;

	p {
		color: #ffffff;
		line-height: 1.4rem;
		margin: 0;
	}
}
