.cd-offline {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #d32f2f;
	color: rgb(var(--text-color));
	padding: 15px;
	border-radius: 5px;
	width: 95%;
	max-width: 300px;
	z-index: 100000000;

	p {
		color: rgb(var(--text-color));
		line-height: 1.4rem;
		margin: 0;
	}
}
