@import '../../../styles/config';

.cd-history {
	width: 100%;
	padding: 0 5px;
	box-sizing: border-box;
	height: 100%;
	overflow: visible;

	&__actions {
		display: flex;
		flex-direction: row;

		button:not(:last-of-type) {
			margin-right: 7px;
		}

		&--on {
			background-color: rgb(var(--text-color)) !important;
			color: rgb(var(--background-color)) !important;
		}
	}

	&__table {
		height: 100%;
		width: 100%;
	}

	&__list {
		// Height and overflow controlled by Tailwind classes in component

		// Mobile versiyonda History modülünün yüksekliğini parent'a göre ayarla
		.cd-timer-footer__mobile-history & {
			height: 100%;
			max-height: none;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			touch-action: pan-y;
			padding-right: 5px;
		}
	}

	&__head {
		width: 100%;
	}
}