@import '../../../../styles/config';

.#{$namespace}-smart-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    padding: 5px;




    &__text {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        line-height: 1.2;
        color: rgb(var(--text-color));

        // Mavi kısımlar span içinde
        span.text-blue-400 {
            color: #60a5fa; // Tailwind blue-400
        }
    }

    &--mobile {
        .#{ $namespace }-smart-stats__text {
            font-size: 1.1rem;
        }
    }
}