@import '../../../../styles/config';

.#{$namespace}-manual-time-entry {
	border: 2px solid rgb(var(--button-color));
	background-color: transparent;
	font-size: 4.5rem;
	color: rgb(var(--text-color));
	font-weight: 500;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	padding: 0 2px;
	border-radius: 8px;
	font-family: 'Roboto Mono', monospace;
	transition: all 0.1s ease-in-out;
	margin: 0;

	&:disabled {
		opacity: 0.3;
	}

	&--error {
		border: 2px solid rgb(var(--error-color)) !important;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95%;
		max-width: 600px;
		margin: 5px auto;
	}

	&__input-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 10px;
	}

	&__submit-btn {
		font-size: 2.5rem !important;
		padding: 0 !important;
		width: 80px !important;
		height: 80px !important;
		border-radius: 8px !important;
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		background: rgba(var(--text-color), 0.1);
		color: rgb(var(--text-color));

		&:hover {
			background: rgba(var(--text-color), 0.2);
		}

		svg {
			font-size: 2.5rem;
		}
	}
}