@import '../../../styles/config';

.#{$namespace}-common-switch {
	$switchSize: 25px;
	$switchSizeSmall: 15px;

	background-color: rgba(var(--button-color), 0.8) !important;
	border: 1px solid rgba(var(--text-color), 0.15);
	border-radius: 20px;
	position: relative;
	transition: all 0.3s ease;

	width: calc(#{$switchSize} * 2.4);
	height: calc(#{$switchSize} + 5px);

	&:hover {
		background-color: rgba(var(--button-color), 1) !important;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	span {
		position: absolute;
		display: table;
		height: $switchSize;
		width: $switchSize;
		background-color: rgb(var(--theme-button-opposite));
		border-radius: 50px;
		top: 50%;
		left: 4px;
		right: 0;
		transform: translate(0, -50%);
		box-shadow: 0 2px 10px rgba(black, 0.15);
		transition: all 0.3s ease;
	}

	&--small {
		width: calc(#{$switchSizeSmall} * 2.6);
		height: calc(#{$switchSizeSmall} + 5px);

		span {
			height: $switchSizeSmall;
			width: $switchSizeSmall;
		}
	}

	&--on {
		background: linear-gradient(to right, rgb(var(--secondary-color)), rgb(var(--secondary-color))) !important;
		border-color: rgb(var(--secondary-color));
		box-shadow: 0 4px 15px rgba(var(--secondary-color), 0.3);

		span {
			right: 3px;
			left: unset;
		}
	}
}