@import '../../../../styles/config.scss';

.cd-welcome-features {
	position: relative;
	padding: 4rem 0;
	background: transparent;

	&__container {
		max-width: 85.333rem;
		margin: 0 auto;
		padding: 0 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 8rem;

		@media (max-width: 768px) {
			gap: 4rem;
		}
	}
}
