@import '../../../styles/config';

.#{$namespace}-page-title {
	width: 100%;
	position: sticky;
	top: var(--nav-h);
	z-index: 100;
	background-color: rgb(var(--background-color));
	margin-top: calc(-1 * var(--wrapper-padding));
	padding-top: var(--wrapper-padding);
	margin-bottom: 0;
	padding-bottom: 2.667rem;

	@media (max-width: 768px), (max-height: 500px) {
		top: 0;
		margin-top: calc(-15px - var(--safe-area-inset-top, 0px));
		padding-top: calc(15px + var(--safe-area-inset-top, 0px));
	}

	&__title {
		display: flex;
		flex-direction: row;
		font-family: Kontora, Poppins, Arial, 'Helvetica Neue', Helvetica, sans-serif;
		align-items: center;
		font-weight: 500;
		font-size: 2.7rem;

		i {
			position: relative;
			top: 3px;
			margin-right: 0.8rem;
		}
	}

	&__lines {
		display: flex;
		flex-direction: row;
		margin-bottom: 2rem;
	}

	&__line {
		background-color: rgb(var(--primary-color));
		height: 4px;
		width: 3.333rem;
		border-radius: 4px;
		margin-right: 0.333rem;

		&--secondary {
			width: 2.333rem;
			background-color: rgb(var(--secondary-color));
		}
	}

	&--account-dropdown-mobile {
		margin-left: 0.8rem;
		display: none;

		@media (max-width: 768px), (max-height: 500px) {
			display: block;
		}

		// Adjust inner dropdown styles for this context if needed
		.#{$namespace}-nav-account-dropdown {
			padding: 0;
			height: auto;
			border-left: none;
			margin-left: 0;

			&__handle {
				padding: 0;
			}

			&__pfp {
				margin-right: 0;
				width: 32px;
				height: 32px;
			}
		}
	}
}