.zt-community {
	position: relative;

	&__nav {
		// On mobile, bottom spacing is reduced since there's no tab bar
		@media (max-width: 768px), (max-height: 500px) {
			.zt-page-title {
				padding-bottom: 0.85rem !important;
			}

			.zt-page-title__title {
				font-size: 2.2rem;
			}
		}
	}
}
