.cd-community {
	position: relative;

	&__nav {
		// Mobilde tab bar olmadigi icin alt bosluk azaltildi
		@media (max-width: 768px), (max-height: 500px) {
			.cd-page-title {
				padding-bottom: 0.85rem !important;
			}

			.cd-page-title__title {
				font-size: 2.2rem;
			}

			.cd-page-title__lines {
				margin-bottom: 0.85rem;
			}
		}
	}
}
