@import '../../../styles/config';

.#{$namespace}-landing-legal {
	width: 95%;
	max-width: 700px;
	margin: 0;
	padding: 100px 0 100px 40px;
	color: rgba(255, 255, 255, 0.85);

	h1 {
		font-weight: bold;
		font-size: 2rem;
		color: white;
		margin-bottom: 15px;
	}

	h2 {
		color: white;
		font-size: 1.3rem;
		margin-top: 20px;
		margin-bottom: 10px;
		text-transform: capitalize;
		font-weight: bold;
	}

	strong {
		color: white;
		font-weight: bold;
	}

	p,
	li {
		margin-bottom: 15px;
		line-height: 1.4rem;
		color: rgba(255, 255, 255, 0.85);
	}

	ul {
		list-style: disc;
		padding-left: 15px;

		li {
			margin-bottom: 10px;
		}
	}

	a {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: underline;

		&:hover {
			color: white;
		}
	}

	hr {
		border-color: rgba(255, 255, 255, 0.15);
		margin: 40px 0;
	}

	code {
		color: rgba(255, 255, 255, 0.9);
	}
}
