@import '../../styles/config';

.cd-timer-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0 0.75rem;
    width: 100%;
    min-height: 160px;
    max-height: 200px;

    &--mobile {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 0 0.5rem;
        height: 200px;
        flex: 0 0 200px;
    }
}
