.zt-profile__edit {
	&__bio {
		grid-column: span 2;
	}

	&__grid {
		margin-bottom: 1.25rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.25rem;
	}

	&__actions {
		display: flex;
		justify-content: center;
	}
}
